@import url('https://fonts.googleapis.com/css2?family=Monofett&family=Oldenburg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    outline: none;

    
}

h2,h3,h4,h5,h6{

    font-family: "Oldenburg", serif;
    font-weight: 400;
    font-style: normal;
}

.header {
    background: linear-gradient(to top, rgba(20, 24, 27, 0.5), rgba(43, 89, 126, 0.53)), url(./background.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-width: 1000px;
    min-height: 110vh;
    margin-bottom: 0; 
}



.navbar{

    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #191970;

} 
.navbar .logo{
    display: flex;
    align-items: center;
    color: #fff;
    gap: 1rem;
    
}
.navbar .logo .strong{
    color:#F4A460;
}

.navbar .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

}
.navbar .navigation,.navbar .controls{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: white;
}

.navbar .navigation .nav-link{
    font-size: 1.1rem;
    font-weight: 300;
    color:antiquewhite
}

.navbar .navigation .nav-link:hover{
    color: aquamarine;
}

.navbar .controls .icon{
   background-color:#23242f;
    color: #fff;
    width: 80px;
    height: 45px;
    display: flex;
    border-radius: 30%;
    align-items: center;
    justify-content: center;
}
.navbar .controls .btn{
    background-color:#373c9e;
    color: #fff;
    width: 100px;
    height: 50px;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.navbar .controls .btn:hover{
    color: #259dc9;
}

.navbar .controls .icon:hover{
    color: #259dc9;
}


.header .tickets{
    padding-top: 100px;
    padding-bottom: 50px;
}

.header .tickets h1{
    color: white;
    font-size: 50px;
    margin-left: 38rem;
}

.header .tickets .bilet {
    align-items: center;
    margin-top: 3rem;
    margin-left: 20%;
    height: 8rem;
    width: 60%; 
    display: flex;
    flex-direction: row;
    gap: 5rem;
    border: 2rem;
    padding: 10px;
    border-radius: 5px;
    background-color: #f7f7f783;
    border-top-left-radius:15%;
    border-bottom-left-radius:15%;
    border-bottom: 6px solid #dead0c;
    border-top: 3px solid #dead0c;
}

.bilet .from,
.bilet .arrival,
.bilet .time,
.bilet .fee ,
.bilet .date{
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.bilet label {
    font-weight: bold;
    font-size: large;
}

.bilet span {
    display: block;
}


.header .tickets .bilet-container .flight-buy-button button{
    border-top-right-radius:30%;
    border-bottom-right-radius:30%;
    background-color: #ffc401c5;
    width: 10rem;
    height: 5rem;
    font-weight: bolder;
}
.header .tickets .bilet-container .flight-buy-button button:hover{
    border-top-right-radius:30%;
    border-bottom-right-radius:30%;
    background-color: #febf00;
    width: 11.5rem;
    height: 5.5rem;
    font-weight: bolder;
}
.tickets img{
    height: 3rem;
    width: 3rempx;
}
