<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yıldız Airlines</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/static/assets/first.css" />
  </head>

  <body>
    <div class="header">
      <nav class="navbar">
        <div class="container">
          <div class="logo">
            <img
              src="/static/assets/logo.png"
              height="60"
              alt=""
              srcset=""
            />

            <span>Yıldız<strong class="strong">Airlines</strong></span>
          </div>
          <div class="navigation">
            <a href="#" class="nav-link"><strong>Ana Sayfa</strong></a>
            <a href="#" class="nav-link">Servisler</a>
            <a href="#" class="nav-link"><strong>Teklifler</strong></a>
            <a href="#" class="nav-link">Hakkında</a>
            <a href="#" class="nav-link"><strong>İletişim</strong></a>
          </div>

          <div class="controls">
            <div class="icon"><i class="fa fa-search"></i></div>
            <div class="icon"><i class="fa fa-user-alt"></i></div>
            <div class="btn">Kayıt Ol</div>
          </div>
        </div>
      </nav>

      <div class="content">
        <div class="head">
          <h2>Yıldız Airlines for a perfect flight experience</h2>
          <h5 class="subtitle">
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. The point
            of using Lorem Ipsum is
          </h5>
        </div>

        <div class="booking-box">
          <div class="form scroll-b">
            <form>
              <div class="line">
                  <div class="box">
                      <label for="departure">Kalkış</label>
                      <select id="departure" name="departure">
                          {% for city in city_list %}
                              <option value="{{ city }}">{{ city }}</option>
                          {% endfor %}
                      </select>
                  </div>
                  <div class="box">
                      <label for="arrival">Varış</label>
                      <select id="arrival" name="arrival">
                          {% for city in city_list %}
                              <option value="{{ city }}">{{ city }}</option>
                          {% endfor %}
                      </select>
                  </div>
                  <div class="date_box">
                      <label for="date">Uçuş Tarihi</label>
                      <input type="date" id="date" />
                  </div>
              </div>
          </form>
            <div class="line-r">
              <form action="{{ url_for('book') }}" method="post">
                  <button type="submit" class="btn" id="flightSearch_btn">Uçuş Ara</button>
              </form>
          </div>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>