@import url('https://fonts.googleapis.com/css2?family=Monofett&family=Oldenburg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    outline: none;

    
}

h2,h3,h4,h5,h6{

    font-family: "Oldenburg", serif;
    font-weight: 400;
    font-style: normal;
}

.header{

    background:linear-gradient(to top,rgba(20, 24, 27, 0.5),rgba(43, 89, 126, 0.53)),url(./background.webp);
  

    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    min-width: 1000px;
    min-height: 100vh;
    position:relative;

}

.navbar{

    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #191970;

} 
.navbar .logo{
    display: flex;
    align-items: center;
    color: #fff;
    gap: 1rem;
    
}
.navbar .logo .strong{
    color:#F4A460;
}

.navbar .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

}
.navbar .navigation,.navbar .controls{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: white;
}

.navbar .navigation .nav-link{
    font-size: 1.1rem;
    font-weight: 300;
    color:antiquewhite
}

.navbar .navigation .nav-link:hover{
    color: aquamarine;
}

.navbar .controls .icon{
   background-color:#23242f;
    color: #fff;
    width: 80px;
    height: 45px;
    display: flex;
    border-radius: 30%;
    align-items: center;
    justify-content: center;
}
.navbar .controls .btn{
    background-color:#373c9e;
    color: #fff;
    width: 100px;
    height: 50px;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.navbar .controls .btn:hover{
    color: #259dc9;
}

.navbar .controls .icon:hover{
    color: #259dc9;
}

.header .content{
    min-height: 100vh;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:end;
    gap:1rem;
    padding: 2rem 1 rem;
}

.content .head{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
}
.content .head h2 {
    font-size: 4rem;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

.content .head .subtitle {
    font-size: 1.3rem;
    font-weight: 400;
    color: #ccc;
    text-align: center;
    padding: 0rem 2rem;
}


.header .booking-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 900px;
    width: 100%;
    opacity: 1;
    padding: 1rem;
}


.header .booking-box .form {
    width: 100%;
    padding: 1rem 0.5rem;

}

.header .booking-box .form .line {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 1rem;

}

.header .booking-box .form .line-r {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 1rem;

}

.header .booking-box .form .line-r .btn {
    background-color: #244086;
    color: #ffffff;
    width: fit-content;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 500;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0.75rem 2.4rem;
    border: 1px solid #012062;
}

.header .booking-box .form .line-r .btn:hover {
    background-color: #012b85;
}

.header .booking-box .form .box {
    display: flex;
    flex-direction: column;
    padding: 0.75rem 0rem;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
}

.header .booking-box .form .box label {
    padding: 0.2rem;
    font-size: 0.9rem;
    font-weight: 400;
    color: #ffffff;
    text-transform: capitalize;
}

.header .booking-box .form .box select {
    width: 100%;
    padding: 0.75rem 1rem;
    display: flex;
    border: 1px solid transparent;
    color: #000000;
}

.header .booking-box .form .box select:hover {
    width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid #012062;
}

.header .booking-box .form .date_box input {
    
    font-size: larger;
    width: 100%;
    padding: 0.5rem 1rem;
    display: flex;
    text-align:center;
    text-transform:uppercase;
    border: 0.75px solid transparent;
    color: #000000;
}
.header .booking-box .form .date_box label{
    padding: 0.2rem;
    font-size: 0.9rem;
    font-weight: 400;
    color: #ffffff;
    text-transform: capitalize;
}
.header .booking-box .form .date_box input:hover {
    width: 100%;
    padding: 0.4rem 1rem;
    border: 1px solid #012062;
}

.header .booking-box .form .box select {
    
    font-size: larger;
    width: 100%;
    height: 3rem;
    display: flex;
    text-align:center;

}