<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selected Flight Details</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <link rel="stylesheet" href="/static/assets/contact.css"/>
</head>
<body>

<div class="header">
    <nav class="navbar">
        <div class="container">
            <div class="logo">
                <img src="/static/assets/logo.png" height="60" alt="" srcset=""/>
                <span>Yıldız<strong class="strong">Airlines</strong></span>
            </div>
            <div class="navigation">
                <a href="/" id="ana_sayfa_btn" class="nav-link"><strong>Ana Sayfa</strong></a>
                <a href="#" class="nav-link">Servisler</a>
                <a href="#" class="nav-link"><strong>Teklifler</strong></a>
                <a href="/about" class="nav-link">Hakkında</a>
                <a href="/contact" class="nav-link"><strong>İletişim</strong></a>
            </div>

            <div class="controls">
                <div class="icon"><i class="fa fa-search"></i></div>
                <div class="icon"><i class="fa fa-user-alt"></i></div>
                <div class="btn">Kayıt Ol</div>
            </div>
        </div>
    </nav>

    <div class="content">
        <p></p>
        <p></p>
        <h1>İletişim Bilgilerimiz:</h1>
        <p>Destek Hattı: +1 (123) 456-7890</p>
        <p>Destek E-posta: yildiz.airlines@gmail.com</p>
        <p></p>
        <h1>Şirket Adresi:</h1>
        <p>YildizAirlines Inc.</p>
        <p>123 Main Street</p>
        <p>Esenler, İstanbul</p>
        <p>Posta Kodu: 4141</p>
        <p></p>
        <h1>Çalışma Saatlerimiz:</h1>
        <p>Pazartesi - Cuma: 09:00 - 18:00 (Yerel Saat)</p>
        <p></p>
        <p>Teşekkür ederiz, YildizAirlines ekibi.</p>

        </div>
</div>
</body>
</html>
